<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('common/headContent', {titulo: 'Meu restaurante'}) %>
  </head>
  <body>
    <%- include('./common/carrinhoIcon') %>

    <div class="container">

      <%- include('./common/menu') %>

      <p><%= usuario.nome %></p>

    </div>

  </body>
</html>
