<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./common/headContent', {titulo:'Cardápio'}) %>
  </head>
  <body>

    <div class="container">
      <%- include('./common/menu') %>

      <%
        const categorias = [
          'Pratos',
          'Pizzas',
          'Massas',
          'Bebidas',
          'Salgados',
          'Doces',
        ]
      %>

      <div class="cardapio-categoria mt-4">
        <% for (categoria of categorias) { %>
          <div class="categoria">
            <h4 class="text-primary border-bottom border-primary"><%= categoria %></h4>

            <div class="categoria-cards">

              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Comida 1</h5>
                  <a href="#" class="btn btn-primary">Detalhes</a>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Comida 2</h5>
                  <a href="#" class="btn btn-primary">Detalhes</a>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Comida 3</h5>
                  <a href="#" class="btn btn-primary">Detalhes</a>
                </div>
              </div>

            </div>

          </div>
        <% } %>
      </div>

    </div>

  </body>
</html>
