<!DOCTYPE html>
<html>
  <head>
    <title>Meu Restaurante</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="container">

      <ul class="nav border border-primary rounded-pill justify-content-center">
        <li class="nav-item">
          <a class="nav-link fs-5" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="/">Cardápio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="/">Contato</a>
        </li>
      </ul>

      <div class="mt-4 d-flex flex-column align-items-center">
        <h3>Bem vindos ao Meu Restaurante!</h3>
        <h5>Oferecemos o melhor da culinária caseira.</h5>
      </div>

      <div class="mt-4 d-flex flex-column align-items-center">
        <h3>Notícias</h3>
      </div>

      <%
        const noticiasArray = [];
        let arrayLinha = [];
        let indexColeta = 2;

        for (let i = 0; i < noticias.length; i++) {
          if (i <= indexColeta){
            arrayLinha.push(noticias[i]);
            if (i == indexColeta){
              noticiasArray.push(arrayLinha);
              arrayLinha = [];
              indexColeta += 3;
            }
          }
        }

        if (arrayLinha.length > 0){
          noticiasArray.push(arrayLinha);
        }
      %>

      <% for (linha of noticiasArray) { %>
        <div class='noticias d-flex flex-column'>
          <div class='d-flex flex-row mb-4 justify-content-around'>
            <% for (coluna of linha) { %>
              <div class="card me-4" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= coluna.titulo %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= coluna.data %></h6>
                  <p class="card-text"><%= coluna.texto %></p>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      <% } %>

  </body>
</html>
