<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('common/headContent', {titulo: 'Inserir notícia'}) %>
  </head>

  <body>

    <div class="container">

      <% if (msg.alert){ %>
        <div class="alert alert-success mt-2 mb-4" role="alert">
          <%= msg.alert %>

          <ul>
            <li> Título: <%= msg.titulo %> </li>
            <li> Texto: <%= msg.texto %> </li>
          </ul>
        </div>
      <% } %>

      <form action="/inserir_noticia" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Título</label>
          <input type="text" class="form-control" name="titulo" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Noticia</label>
          <textarea class="form-control" name="texto" rows="8" cols="60" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>

    </div>

  </body>
</html>
