<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <title>Inserir noticia</title>
  </head>

  <body>

    <div class="container">

      <% if (msg.alert){ %>
        <div class="alert alert-success mt-2 mb-4" role="alert">
          <%= msg.alert %>

          <ul>
            <li> Título: <%= msg.titulo %> </li>
            <li> Texto: <%= msg.texto %> </li>
          </ul>
        </div>
      <% } %>

      <form action="/inserir_noticia" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Título</label>
          <input type="text" class="form-control" name="titulo" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Noticia</label>
          <textarea class="form-control" name="texto" rows="8" cols="60" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>

    </div>

  </body>
</html>
