
<div class='globalMenu mt-2'>
  <ul class="nav border border-primary rounded-pill justify-content-center">
    <li class="nav-item">
      <a class="nav-link fs-5" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link fs-5" href="/cardapio">Cardápio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link fs-5" href="#">Contato</a>
    </li>
    <% if (usuario.nome == 'anônimo') {%>
      <li class="nav-item">
        <a class="nav-link fs-5" href="/login">Login</a>
      </li>
    <% } else { %>
      <li class="nav-item">
        <a class="nav-link fs-5" href="/area_cliente">Minha Conta</a>
      </li>
    <% } %>
  </ul>
</div>
